body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .display {
    position: relative;
  }
  
  .video-overlay {
    position: absolute;
    left: 269px;
    top: 30%;
    height: 35%;
    width: 230px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 50%;
    z-index: 1; 
  }
  .video-overlay #bb2{
      position: absolute;
      left: 25%;
      top: 50%;
      background-color: green;
      border-radius: 25%;
      font-size: 25px;
      height: 125px;
      width: 125px;
      z-index: 1;
    }
  
  video {
    display: block;
    transform: scaleX(-1);*/
  }
  
  canvas {
    display: block;
    position: absolute;
    top: 0;
    pointer-events: none; /* Prevents canvas from intercepting clicks */
    transform: scaleX(-1);*/
  }
  
  .ui {
    margin-top: 10px;
    width: 640px;
    display: flex;
    justify-content: center;
    /*justify-content: space-between;*/
  }
  
    .ui #bb {
      margin-top: 0%;
      background-color: green;
      border-radius: 25%;
      font-size: 20px;
      height: 100px;
      width: 100px;
    }
    
  .ui #bby {
      margin-top: 0%;
      background-color: green;
      border-radius: 25%;
      font-size: 20px;
      height: 100px;
      width: 100px;
    }
    
    .ui #bbn {
      margin-top: 0%;
      background-color: red;
      border-radius: 25%;
      font-size: 20px;
      height: 100px;
      width: 120px;
    }
    
    .ui #color {
      box-sizing: border-box;
      background-color: red;
      width: 100px;
      height: 100px;
      border: 1px solid gray;
    }
  
     controls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      border: 1px solid gray;
      box-sizing: border-box;
      padding: 0 15px;
      flex-grow: 1;
    }
  
    .controls p {
      margin-top: 2;
      font-size: 25px;
    }
  
    controls div {
    display: flex;
  }
  
  controls div label {
    width: 25%;
  }
  
  controls div input {
    width: 75%;
  }